
    <%- include('partials/header.html') %>

           <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <h2>Qer Fugir das Praisas de verão?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt delectus commodi at dolores voluptatum ad, optio esse magni, magnam, facilis aliquid velit expedita eaque sapiente porro natus. Animi, ullam?</p>
                    </div>

                    <img src="/public/images/landscaoe.jpg" />
                </div>
            </div>
           </section>

           <section class="outras-noticias">
                <div class="title-outras-noticias">
                    <h2>Últimas Notícias</h2>
                    <br><br>
                    <div class="center">
                        <div class="ultimas">
                            <div class="box-ultima-single">
                                <img src="/public/images/IMAGEM2.png" />
                                <div class="conteudo-noticia-single">
                                    <h3>Natureza e Geral</h3>
                                    <h2>Como encarar o surf em Floripa</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur maiores, odit, magni, maxime non incidunt totam quaerat molestias error accusamus adipisci beatae exercitationem officia eligendi itaque odio libero blanditiis natus?</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>    
                            </div>
                            <div class="box-ultima-single">
                                <img src="/public/images/IMAGEM2.png" />
                                <div class="conteudo-noticia-single">
                                    <h3>Natureza e Geral</h3>
                                    <h2>Como encarar o surf em Floripa</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur maiores, odit, magni, maxime non incidunt totam quaerat molestias error accusamus adipisci beatae exercitationem officia eligendi itaque odio libero blanditiis natus?</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>    
                            </div>
                        </div>
                        <div class="mais-lidas">
                            <h3>Mais Lidas</h3>
                            <div class="mais-lidas-noticias">
                                <div class="mais-lidas-noticia-single">
                                    <img src="/public/images/NATUREZA1.png">
                                    <div class="texto-mais-lidas-single">
                                        <h4>Natureza</h4>
                                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                        <a href="/encarar-o-surf">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mais-lidas-noticias">
                                <div class="mais-lidas-noticia-single">
                                    <img src="/public/images/NATUREZA1.png">
                                    <div class="texto-mais-lidas-single">
                                        <h4>Natureza</h4>
                                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                        <a href="/encarar-o-surf">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mais-lidas-noticias">
                                <div class="mais-lidas-noticia-single">
                                    <img src="/public/images/NATUREZA1.png">
                                    <div class="texto-mais-lidas-single">
                                        <h4>Natureza</h4>
                                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                        <a href="/encarar-o-surf">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mais-lidas-noticias">
                                <div class="mais-lidas-noticia-single">
                                    <img src="/public/images/NATUREZA1.png">
                                    <div class="texto-mais-lidas-single">
                                        <h4>Natureza</h4>
                                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                        <a href="/encarar-o-surf">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </section>

           <%- include('partials/footer.html') %>
    </body>
</html>